.container{
  max-width:700px;
  margin:40px auto;
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 5px 20px #ddd;
}

body{
  background:#f3f4f6;
}


.stats {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.stats p {
  margin-bottom: 20px;
}


@media(max-width:700px){

  .container{
    margin:10px;
    padding:20px;
  }

}